.intro-list {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px 35px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 10px 35px;
  }
}
