.introduction__container {
  padding: 97px 74px 79px;
  background-color: $main-color;
  background-image: url("../img/catalog/gallery-background-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &--page-contest {
    padding: 96px 46px 44px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/gallery-background-mobile@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding: 179px 151px 129px;

    background-image: url("../img/catalog/gallery-background-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/gallery-background-tablet@2x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--page-contest {
      padding: 179px 20px 58px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 171px 151px 91px;

    background-image: url("../img/catalog/gallery-background-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/gallery-background-desktop@2x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--page-contest {
      padding: 171px 151px 88px;
      min-height: 135px;
    }
  }
}

.introduction__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 128%;
  text-align: center;
  color: $white;
  margin: 0;

  &--page-contest {
    line-height: 135%;
  }

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 132%;

    &--page-contest {
      line-height: 135%;
      max-width: 1063px;
      margin: 0 auto;
    }
  }
}

.introduction__text {
  text-align: center;
  line-height: 30px;
  margin: 44px auto 50px;
  box-sizing: border-box;

  &--page-contest {
    margin: 44px auto 8px;
  }

  &--fill-form {
    width: auto;
    padding: 0;
  }

  &--hidden {
    visibility: hidden;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin: 91px auto 77px;
    width: 86%;

    &--fill-form {
      width: auto;
      padding: 0;
    }

    &--hidden {
      visibility: visible;
      margin: 0 auto 74px;
    }

    &--page-contest {
      margin: 91px auto 74px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 940px;
    margin: 91px auto 89px;
    box-sizing: border-box;

    &--page-contest {
      margin: 91px auto 71px;
    }

    &--fill-form {
      width: auto;
      padding: 0;
    }

    &--hidden {
      visibility: visible;
    }
  }
}

.introduction__form {
  @media (min-width: $desktop-width) {
    margin: 0 130px;
  }
}
