.wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;

    &--page-contest {
      padding: 0 68px;
    }
  }
}
